src/deps/curl/curl/
src/deps/json/cJSON/
src/deps/libsodium/libsodium/
src/deps/lwip/lwip/
src/deps/mbedtls/mbedtls/
src/iot_root_ca.c
tools/keygen/linux/ed25519*
tools/keygen/linux/output_*
doc/doxygen/
build/
output/
